.container {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #9affdc;
  padding-bottom: 0.5rem;
  width: 100vw;
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mais img {
  width: 2rem;
  height: 2rem;
}

.mais {
  background: none;
  border: none;
  justify-content: space-between;
}

.trends img {
  width: 2rem;
  height: 2rem;
}

.trends {
  background: none;
  border: none;
  justify-content: space-between;
}

.digitar img {
  width: 2rem;
  height: 2rem;
}

.digitar {
  background: none;
  border: none;
  justify-content: space-between;
}

.batepapo img {
  width: 2rem;
  height: 2rem;
}

.batepapo {
  background: none;
  border: none;
  justify-content: space-between;
}

.conta img {
  width: 2rem;
  height: 2rem;
}

.conta {
  background: none;
  border: none;
  justify-content: space-between;
}
