.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9affdc;
  gap: 3rem;
  padding-top: 0.5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  padding-bottom: 0.5rem;
}

.cor img {
  width: 2rem;
  height: 2rem;
}

.cor {
  cursor: pointer;
  background: none;
  border: none;
  padding-left: 1.5rem;
}
.logo img {
  width: 3rem;
  height: 3rem;
}

.logo {
  cursor: pointer;
  background: none;
  border: none;
}

.sininho img {
  width: 2rem;
  height: 2rem;
}

.sininho {
  cursor: pointer;
  background: none;
  border: none;
  padding-right: 1.5rem;
}
