.container {
  background-color: aliceblue;
}
.perfil {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}
.Mensagem {
  width: 100%;
  height: 200px;
  background-color: lightyellow;
}
.interacao {
  width: 100%;
  height: 100px;
  background-color: lightgreen;
}
