.container {
  width: 97vw;
  height: 50vw;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "a b b b"
    "a b b b"
    "a b b b";
  border: SOLID black 1px;
  font-size: 1rem;
}
.container2 {
  grid-area: b;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.avatar {
  background-color: aqua;
  height: 100%;
  width: 100%;
  grid-area: a;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.bola {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  background: black;
}
.perfil {
  background-color: blue;
  height: 15%;
  width: 100%;
  display: flex;
}
.name {
  background-color: red;
  height: 100%;
  width: 80%;
}
.nomedousuario {
  height: 50%;
  width: 100%;
  background: violet;
}
.arrobausuario {
  height: 50%;
  width: 100%;
  background: yellow;
}
.seguir {
  background-color: aqua;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p {
  margin: 0px;
  padding: 0px;
}
.Mensagem {
  height: 65%;
  width: 100%;
  background-color: yellowgreen;
}
.interaction {
  height: 20%;
  width: 100%;
  background-color: green;
}
